# Data files
data/database/*.sqlite3
data/scraped_data/
data/models/

# Environment files
.env
secrets.yaml
Lib/
py311_env/
# Python cache
__pycache__/
*.pyc

# Notebooks
notebooks/.ipynb_checkpoints/

# Logs
*.log
logs/

# OS files
.DS_Store

# Editor files
.vscode/
.idea/

# Removed files
bypass_firefox.py
src/data/forex_factory.py
src/data/twitter_sentiment.py
NEWS.txt
LICENSE.txt
install-pyenv-win.ps1
2.0
2.0'
py311_env/
Lib/
*.dll
*.lib
*.so
*.pyd
__pycache__/